html {
    font-family:'poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #3368A0;
}
div.sign-up {
    display:flex;
    color:#F2EFE7;
    flex-direction: column;
    padding: 100px;
    margin:0%;
    margin-top:0%;
    width: 500px;
    align-items: flex-start;
}
button {
    width: 120px;
    background-color: #3A86FF;
    color: white;
    padding:10px;
    border: none;
    border-radius: 5px;
}
h1{
    font-family: 'Montserrat', sans-seri;
    font-size: 50px;
}
img#study-image {
    width: 500px;
    display: block;
    padding: 100px;
    position:static;
    float:right;
     margin: 0 0 15px 15px;
     height: auto;
     align-items:flex-start;
}






