html {
    font-family:'poppins', sans-serif;
    padding: 0;
    margin: 0;
}
section#sign-up {
    display:flex;
    color:#F9FAF8;
    background-color: #1F2937;
    flex-direction: column;
    align-content: baseline;
    padding: 100px;
    margin:0%;
    margin-top:0%;
}
button {
    width: 120px;
    background-color: #2563EB;
    color: white;
}
h1{
    font-family: 'Montserrat', sans-seri;
    font-size: 50px;
}


